@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  @apply bg-primary-100
}

.login-section {
    @apply bg-gradient-to-r from-gray-100 to-gray-200
}
